
.ali1 {
    text-align: left;
}

.ali2, .ay,  .jji, .a30, .ddi {
    text-align: center;
}
.qqw{
    text-align: center;
    
    isolation: initial;
    color: #ec0f0f;
    text-shadow: 0px 0px 60px #06ddf5,
    0px 0px 20px #06ddf5, 0px 0px 40px #06ddf5, 0px 0px 80px #06ddf5;
    font-size: 50px;
    color: #cc0000;

}

.ali3, .all {
    text-align: right;
}


.ay {
    text-align: center;
    grid-template-areas: unset;
    isolation: initial;
    color: #ec0f0f;
    text-shadow: 0px 0px 10px #06ddf5,
    0px 0px 20px #06ddf5, 0px 0px 40px #06ddf5, 0px 0px 80px #06ddf5;
    font-size: 90px;
    color: #cc0000;
}


.dateform {
    background-color: #096aba;
    width: 100%;
    display: grid;
    place-content: center;
    overflow: hidden;
}


.car-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.car-category {
    border: 1px solid #ffffff20;
    border-radius: 12px;
    background: #ffffff1a;
    padding: 20px;
    backdrop-filter: blur(16px) saturate(120%);
    text-align: center;
    clip-path: circle(60%);

}

.a30 {
    padding: 40px;
    color: #a35353;
    font-size: 25px;
}


.ddi {
    margin: 10px;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}
.jji{
    color: rgb(255, 0, 251);
    grid-area: span;
    overflow-x: scroll;
}
.ss{
    text-align: center;
    font-size: medium;
    grid-template-areas: unset;
    isolation: initial;
    text-shadow: #ff3333 0px 0px 20px,#06ddf5 0px 0px 35px, #ff8811 1px 8px 70px ;
    font-size: 20px;
    color: #a35353;
}

.alo{
    text-align: left;
    color: lab(from color 100% grid-area background); 
}

  
  
    .mod11 {
        display: flex;
        justify-content: center; 
        align-items: center; 
        text-align: center;
        background-color: var(--c2); 
        height: 70px; 
    }
    
    .label-container {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    
}
#grandient{
    background: (#ff8811,transparent 50%);
    position: absolute;
   

}
.car-section{
    text-align: center;
   width: 80%;
   height: 150%;
    object-fit: fill;
    border-radius: 50px;
    border: 2px solid rgba(10, 243, 204, 0);
    transition: all ease-in-out 0.7s;

}
.car-section:hover{
    width: 25%;

}
.fzi {
    transition: transform 0.3s ease-in-out; 
    cursor: pointer; 
}

.fzi:hover {
    transform: translateX(100%); 
    text-align: right;
}
.connexion {
    display: flex;
    padding: 11px 33px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: white;
    background: #6225e6;
    transition: 0.7s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-19deg);
    border: none;
    cursor: pointer;
  }
  
  .connexion:focus {
    outline: none;
  }
  
  .connexion:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #fbc638;
  }
  
  .connexion .second {
    transition: 0.5s;
    margin-right: 0px;
  }
  
  .connexion:hover .second {
    transition: 0.5s;
    margin-right: 45px;
  }
body{
    color: rgb(194, 132, 51);
    border: #06ddf5;
    background-color:#f8dbbf;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --s: 65px; 
  --c1: #dda4a4;
  --c2: #c38ee6;
  --c3: #cb8fb9;
  --_c: 75%, var(--c3) 52.72deg, #0000 0;
  --_g1: conic-gradient(from -116.36deg at 25% var(--_c));
  --_g2: conic-gradient(from 63.43deg at 75% var(--_c));
  background: var(--_g1), var(--_g1) calc(3 * var(--s)) calc(var(--s) / 2),
    var(--_g2), var(--_g2) calc(3 * var(--s)) calc(var(--s) / 2),
    conic-gradient(
      var(--c2) 63.43deg,
      var(--c1) 0 116.36deg,
      var(--c2) 0 180deg,
      var(--c1) 0 243.43deg,
      var(--c2) 0 296.15deg,
      var(--c1) 0
    );
  background-size: calc(2 * var(--s)) var(--s);
}

.mod11 {
   
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
 
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
 
  background-repeat: no-repeat;
  border-radius: 89% 29% 90% 23% / 0% 100% 0% 100%;
  border-color: transparent;
  width: 200px;
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-family: inherit;
  box-shadow: 23px 23px 46px #bebebe,
             -23px -23px 46px #ffffff;
    
}
.mod{
    display: flex;
    padding: 11px 33px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: rgb(168, 118, 118);
    background: #6225e6;
    transition: 0.7s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-19deg);
    border: none;
    cursor: pointer;
  }
  
  .mod:focus {
    outline: none;
  }
  
  .mod:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #fbc638;
  }
  
  .mod .second {
    transition: 0.5s;
    margin-right: 0px;
  }
  
  .mod:hover .second {
    transition: 0.5s;
    margin-right: 45px;
}
.mod2{
    color: #ff8811;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: auto;
    font-weight: 200px;

}


